.SingleFilm {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 36px;
}

.imageFrame {
  width: 342px;
  height: 513px;
  margin-right: 12px;
}

.imgFilm {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.filmData {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 120px;
}

.filmTitle {
  margin-top: 0;
  margin-bottom: 12px;
  color: #617a53;
}

.filmText {
  margin-top: 0;
  margin-left: 12px;
  margin-bottom: 4px;
  color: #617a53;
}

.filmTextValue {
  margin-top: 0;
  margin-left: 36px;
  margin-bottom: 12px;
  color: #617a53;
  font-style: italic;
}

.FilmLink {
  margin-top: 0;
  margin-left: 36px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #617a53;
  font-style: italic;
  text-decoration: underline;
}

.GoBackBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 36px;
  width: 100px;
  padding: 2px 4px;
  border: solid 1px #afc7a1;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  opacity: 1;
  font-weight: 600;
  color: #6c855e;
  background-color: #afc7a1;
  transform: scale(1);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.062),
    0px 2px 3px 0px rgba(0, 0, 0, 0.096), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: transform scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.GoBackBtn:hover {
  transform: scale(1.02);
}
